@using Hybrid.Models
@model MenuViewModel

@{
    ViewBag.Title = "Home";
    var name = ViewBag.userName;
    var hasMenu = (bool)ViewBag.hasMenu;
    var dates = ViewBag.Dates as List<DateTime>;
}

<h2>Welcome, @name!</h2>

@if (!hasMenu)
{
    <p>You do not have any menus generated for today</p>
    @Html.ActionLink("Generate", "Generate", "Menu", null, new { @class = "btn btn-primary" })
}
else
{
    <div class="row form-inline">
        <div class="col-sm-8 ">
            <div class="form-group">
                <label for="datepicker" class="col-sm-6 control-label">Pick a date</label>

                <div class="col-sm-6">
                    @*@Html.DropDownListFor(m => m.ForDay, new SelectList(dates.Select(s => new SelectListItem { Value = s.ToString(), Text = s.ToShortDateString() }).ToList()), new {@class ="form-control" })*@
                    <select class="form-control">
                        @foreach (var date in dates)
                        {
                            <option>@date.ToShortDateString()</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>    
    @Html.Partial("~/Views/Menu/_Menu.cshtml", Model)
}
