@*@model Hybrid.Models.Ingredient*@

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Meal</th>
                <th scope="col">Ingredient</th>
                <th scope="col">Type</th>
                <th scope="col">Unit of Mesurement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="3" style="vertical-align:middle !important" scope="row">1</th>
                <td rowspan="3" style="vertical-align:middle !important">Dorucak</td>
                <td>Ulje</td>
                <td>Fat</td>
                <td>100 g</td>
            </tr>
            <tr>
                <td>Tuna</td>>
                <td>Protein</td>
                <td>100 g</td>
            </tr>
            <tr>
                <td>Rice</td>
                <td>Carbs</td>
                <td>1 cup</td>
            </tr>
        </tbody>
    </table>