@using Hybrid.Models
@using Hybrid.Models.Enums

@model MenuViewModel

@{
    var types = ViewBag.types as Dictionary<IngredientType, int>;
    var userCalories = (double)ViewBag.userCalories;
}
<h4>Target calories: <span class="label label-info">@userCalories</span></h4>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Meal</th>
            <th scope="col">Ingredient</th>
            <th scope="col">Type</th>
            <th scope="col">Unit of Mesurement</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Meals.Count; i++)
        {
            ViewBag.counter = i;

            @Html.DisplayFor(m => m.Meals[i]);
        }

    </tbody>
    </table>